<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/posts">Posts</a>
            <a href="/tags">Tags</a>
            <a href="/collections">Collections</a>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <a href="https://instagram.com/yourname">Instagram</a>
        <a href="https://facebook.com/yourname">Facebook</a>
        <a href="https://discord.gg/yourserver">Discord</a>
        <a href="mailto:you@email.com">Email</a>
    </footer>

</body>
</html>