<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <header>
        <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <nav>
            <a href="/">Home</a>
            <a href="/posts">Posts</a>
            <a href="/tags">Tags</a>
            <a href="/collections">Collections</a>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

   <footer class="footer">
    <a href="https://instagram.com/yourname" target="_blank">
        <i class="fab fa-instagram"></i>
    </a>

    <a href="https://facebook.com/yourname" target="_blank">
        <i class="fab fa-facebook"></i>
    </a>

    <a href="https://discord.gg/yourserver" target="_blank">
        <i class="fab fa-discord"></i>
    </a>

    <a href="mailto:you@email.com" class="email-link">
        ✉ you@email.com
    </a>
</footer>

</body>
</html>
